.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.button {
  font: inherit;
  border: 1px solid #0c0f2c;
  background: rgb(52, 84, 173);
  border-radius: 2rem;
  color: rgb(252, 253, 244);
  padding: 0.25rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  margin-top: 1%;
  /* margin-left: 45%;
  margin-top: 1%; */
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(6rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
