.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  border-radius: 1rem;
  box-shadow: 2cm;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.input select {
  font: inherit;
  border: 1px solid gray;
  background: transparent;
  border-radius: 2rem;
  color: rgb(11, 11, 12);
  padding: 0.25rem 1rem;
  cursor: pointer;
}
.input option {
  border-radius: 2rem;
  color: rgb(14, 3, 3);
}
.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.input input:focus {
  outline: none;
  border-color: #a2b7ff;
}

.input invalid {
  border: 1px solid #ff0000;
}
